---
import { Image } from "astro:assets";
import img1_1 from "../images/galeria/1_1.jpg";
import img1_2 from "../images/galeria/1_2.jpg";
import img1_3 from "../images/galeria/1_3.jpg";
import img1_4 from "../images/galeria/1_4.jpg";
import img1_5 from "../images/galeria/1_5.jpg";
import img2_1 from "../images/galeria/2_1.jpg";
import img2_2 from "../images/galeria/2_2.jpg";
import img2_3 from "../images/galeria/2_3.jpg";
import img2_4 from "../images/galeria/2_4.jpeg";
import img2_5 from "../images/galeria/2_5.jpg";
import img3_1 from "../images/galeria/3_1.jpg";
import img3_2 from "../images/galeria/3_2.jpg";
import img3_3 from "../images/galeria/3_3.jpg";
import img3_4 from "../images/galeria/3_4.jpg";
import img3_5 from "../images/galeria/3_5.jpg";
---

<div
    class="text-[#576081] bg-white w-full h-fit flex flex-col lg:justify-between items-center py-4 gap-4 scroll-m-24"
    id="gallery"
>
    <p class="text-h3 sm:text-h2 font-bold">GALERIA</p>
    <div class="w-fit h-fit grid-cols-3 gap-1.5 hidden md:grid">
        <div class="grid gap-1.5 h-fit">
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <Image src={img1_1} alt="Galeria 1_1" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <Image src={img1_2} alt="Galeria 1_2" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <Image src={img1_3} alt="Galeria 1_3" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <Image src={img1_4} alt="Galeria 1_4" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <Image src={img1_5} alt="Galeria 1_5" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
        </div>
        <div class="grid gap-1.5 h-fit">
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <Image src={img2_1} alt="Galeria 2_1" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <Image src={img2_2} alt="Galeria 2_2" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <Image src={img2_3} alt="Galeria 2_3" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <Image src={img2_4} alt="Galeria 2_4" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-gray border-opacity-40 box-border"
            >
                <Image src={img2_5} alt="Galeria 2_5" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
        </div>
        <div class="grid gap-1.5 h-fit">
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <Image src={img3_1} alt="Galeria 3_1" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <Image src={img3_2} alt="Galeria 3_2" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <Image src={img3_3} alt="Galeria 3_3" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <Image src={img3_4} alt="Galeria 3_4" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
            <div
                class="border-[6px] lg:border-[8px] 3xl:border-[12px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <Image src={img3_5} alt="Galeria 3_5" class="h-auto max-w-48 xl:max-w-sm 3xl:max-w-lg 3xl:w-lg" />
            </div>
        </div>
    </div>
    <!--MOBILNA WERSJA -->
    <div class="w-fit h-fit grid grid-cols-1 gap-1.5 md:hidden">
        <div class="grid gap-1.5 h-fit">
            <div
                class="border-[8px] rounded-xl border-gray border-opacity-40 box-border w-fit"
            >
                <Image src={img1_1} alt="Galeria 1_1" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <Image src={img2_1} alt="Galeria 2_1" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <Image src={img3_1} alt="Galeria 3_1" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-gray border-opacity-40 box-border w-fit"
            >
                <Image src={img1_2} alt="Galeria 1_2" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <Image src={img2_2} alt="Galeria 2_2" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <Image src={img3_2} alt="Galeria 3_2" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-gray border-opacity-40 box-border w-fit"
            >
                <Image src={img1_3} alt="Galeria 1_3" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <Image src={img2_3} alt="Galeria 2_3" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <Image src={img3_3} alt="Galeria 3_3" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-gray border-opacity-40 box-border w-fit"
            >
                <Image src={img1_4} alt="Galeria 1_4" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <Image src={img2_4} alt="Galeria 2_4" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <Image src={img3_4} alt="Galeria 3_4" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-gray border-opacity-40 box-border w-fit"
            >
                <Image src={img1_5} alt="Galeria 1_5" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-green border-opacity-60 box-border"
            >
                <Image src={img2_5} alt="Galeria 2_5" class="h-auto max-w-xs" />
            </div>
            <div
                class="border-[8px] rounded-xl border-light-violet border-opacity-60 box-border"
            >
                <Image src={img3_5} alt="Galeria 3_5" class="h-auto max-w-xs" />
            </div>
        </div>
    </div>
</div>
