---
import { Image } from "astro:assets";
import logo from "../images/logo.svg";
---

<div
    class="text-[#576081] bg-white w-full h-fit flex flex-col lg:justify-between items-center py-4 gap-4 scroll-m-24"
    id="tiles"
>
    <p class="3xl:text-h1 text-h3 sm:text-h2 font-bold">OFERTA</p>
    <div class="flex flex-col lg:flex-row w-full xl:w-3/5 justify-center xl:justify-between items-center gap-4">
        <div class="w-60 h-60 3xl:w-96 3xl:h-96 bg-light-green bg-opacity-60 rounded-2xl flex flex-col items-center justify-between">
            <p class="text-h6 3xl:text-h4 font-bold mt-5 text-center w-3/4">
                KONSULTACJA
            </p>
            <Image src={logo} alt="Logo BeautyRoom" class='w-16 h-16 3xl:w-24 3xl:h-24'/>
            <div class="w-full h-10 3xl:h-12 bg-light-green rounded-b-2xl flex flex-row items-center justify-center">
                <p class="text-h6 3xl:text-h4 text-white"><a href="/zabiegi/konsultacja">Zobacz więcej</a></p>
            </div>
        </div>
        <div class="w-60 h-60 3xl:w-96 3xl:h-96 bg-light-violet bg-opacity-30 rounded-2xl flex flex-col items-center justify-between">
            <p class="text-h6 3xl:text-h4 font-bold mt-5 text-center w-3/4">
                PODSTAWOWY
                ZABIEG
                PODOLOGICZNY
            </p>
            <Image src={logo} alt="Logo BeautyRoom" class='w-16 h-16 3xl:w-24 3xl:h-24'/>
            <div class="w-full h-10 3xl:h-12 bg-light-violet bg-opacity-60  rounded-b-2xl flex flex-row items-center justify-center">
                <p class="text-h6 3xl:text-h4 text-white"><a href="/zabiegi/podstawowy-zabieg-podologiczny">Zobacz więcej</a></p>
            </div>
        </div>
        <div class="w-60 h-60 3xl:w-96 3xl:h-96 bg-light-gray bg-opacity-40 rounded-2xl flex flex-col items-center justify-between">
            <p class="text-h6 3xl:text-h4 font-bold text-center mt-5 w-3/4">
                WRASTAJĄCE
                PAZNOKCIE
            </p>
            <Image src={logo} alt="Logo BeautyRoom" class='w-16 h-16 3xl:w-24 3xl:h-24'/>
            <div class="w-full h-10 3xl:h-12 bg-light-gray bg-opacity-60 rounded-b-2xl flex flex-row items-center justify-center">
                <p class="text-h6 3xl:text-h4 text-white"><a href="/zabiegi/wrastajace-paznokcie">Zobacz więcej</a></p>
            </div>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row w-full xl:w-3/5 justify-center xl:justify-between items-center gap-5">
        <div class="w-60 h-60 3xl:w-96 3xl:h-96 rounded-2xl flex flex-col items-center justify-between lg:bg-light-gray lg:bg-opacity-40 bg-light-green bg-opacity-60">
            <p class="text-h6 3xl:text-h4 font-bold mt-5 text-center w-3/4">
                KOMPUTEROWE
                BADANIE
                STÓP
            </p>
            <Image src={logo} alt="Logo BeautyRoom" class='w-16 h-16 3xl:w-24 3xl:h-24'/>
            <div class="w-full h-10 3xl:h-12 rounded-b-2xl flex flex-row items-center justify-center lg:bg-light-gray lg:bg-opacity-60 bg-light-green">
                <p class="text-h6 3xl:text-h4 text-white"><a href="/zabiegi/komputerowe-badanie-stop">Zobacz więcej</a></p>
            </div>
        </div>
        <div class="w-60 h-60 3xl:w-96 3xl:h-96 rounded-2xl flex flex-col items-center justify-between lg:bg-light-green lg:bg-opacity-60 bg-light-violet bg-opacity-30">
            <p class="text-h6 3xl:text-h4 font-bold mt-5 text-center w-3/4">
                TERAPIA 
                PĘKAJĄCYCH 
                PIĘT 
            </p>
            <Image src={logo} alt="Logo BeautyRoom" class='w-16 h-16 3xl:w-24 3xl:h-24'/>
            <div class="w-full h-10 3xl:h-12 rounded-b-2xl flex flex-row items-center justify-center lg:bg-light-green lg:bg-opacity-100 bg-light-violet bg-opacity-60">
                <p class="text-h6 3xl:text-h4 text-white"><a href="/zabiegi/terapia-pekajacych-piet">Zobacz więcej</a></p>
            </div>
        </div>
        <div class="w-60 h-60 3xl:w-96 3xl:h-96 rounded-2xl flex flex-col items-center justify-between lg:bg-light-violet lg:bg-opacity-30 bg-light-gray bg-opacity-40">
            <p class="text-h6 3xl:text-h4 font-bold mt-5 text-center w-3/4">
                WKŁADKI
                ORTOPEDYCZNE
            </p>
            <Image src={logo} alt="Logo BeautyRoom" class='w-16 h-16 3xl:w-24 3xl:h-24'/>
            <div class="w-full h-10 3xl:h-12 rounded-b-2xl flex flex-row items-center justify-center lg:bg-light-violet lg:bg-opacity-60 bg-light-gray bg-opacity-60">
                <p class="text-h6 3xl:text-h4 text-white"><a href="/zabiegi/wkladki-ortopedyczne">Zobacz więcej</a></p>
            </div>
        </div>
    </div>
    <div class="flex flex-col lg:flex-row w-full xl:w-3/5 justify-center xl:justify-between items-center gap-5">
        <div class="w-60 h-60 3xl:w-96 3xl:h-96 rounded-2xl flex flex-col items-center justify-between lg:bg-light-violet lg:bg-opacity-30 bg-light-green bg-opacity-60">
            <p class="text-h6 3xl:text-h4 font-bold mt-5 text-center w-3/4">
                REKONSTRUKCJA
                PŁYTKI
                PAZNOKCIOWEJ
            </p>
            <Image src={logo} alt="Logo BeautyRoom" class='w-16 h-16 3xl:w-24 3xl:h-24'/>
            <div class="w-full h-10 3xl:h-12 rounded-b-2xl flex flex-row items-center justify-center lg:bg-light-violet lg:bg-opacity-60 bg-light-green">
                <p class="text-h6 3xl:text-h4 text-white"><a href="/zabiegi/rekonstrukcja-plytki-paznokciowej">Zobacz więcej</a></p>
            </div>
        </div>
        <div class="w-60 h-60 3xl:w-96 3xl:h-96 rounded-2xl flex flex-col items-center justify-between lg:bg-light-gray lg:bg-opacity-40 bg-light-violet bg-opacity-30">
            <p class="text-h6 3xl:text-h4 font-bold mt-5 text-center w-3/4">
                USUWANIE 
                ODCISKÓW I 
                MODZELI 
            </p>
            <Image src={logo} alt="Logo BeautyRoom" class='w-16 h-16 3xl:w-24 3xl:h-24'/>
            <div class="w-full h-10 3xl:h-12 rounded-b-2xl flex flex-row items-center justify-center lg:bg-light-gray lg:bg-opacity-60 bg-light-violet bg-opacity-60">
                <p class="text-h6 3xl:text-h4 text-white"><a href="/zabiegi/usuwanie-odciskow-i-modzeli">Zobacz więcej</a></p>
            </div>
        </div>
        <div class="w-60 h-60 3xl:w-96 3xl:h-96 rounded-2xl flex flex-col items-center justify-between lg:bg-light-green lg:bg-opacity-60 bg-light-gray bg-opacity-40">
            <p class="text-h6 3xl:text-h4 font-bold mt-5 text-center w-3/4">
                USUWANIE
                BRODAWEK
            </p>
            <Image src={logo} alt="Logo BeautyRoom" class='w-16 h-16 3xl:w-24 3xl:h-24'/>
            <div class="w-full h-10 3xl:h-12 rounded-b-2xl flex flex-row items-center justify-center lg:bg-light-green lg:bg-opacity-100 bg-light-gray bg-opacity-60">
                <p class="text-h6 3xl:text-h4 text-white"><a href="/zabiegi/usuwanie-brodawek">Zobacz więcej</a></p>
            </div>
        </div>
    </div>
</div>
