---
const { frontmatter } = Astro.props;
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import dwojka from "../images/dwojka.jpg";
---
<Layout title={frontmatter.name}>
	<div class="w-full h-full">
		<div class="flex flex-row justify-center items-center text-center">
			<p class="text-h3">{frontmatter.name}</p>
		</div>
		<div class="flex flex-col justify-evenly items-center gap-4 px-3 pt-4">
			<Image
				src={dwojka}
				alt="Renata Duda-Błasiak i Sebastian Błasiak"
				class="w-4/5 h-2/5 xl:w-1/3 xl:h-2/3 rounded-lg"
			/>
			<div class="w-4/5 text-p sm:text-h6 xl:w-1/3 text-pretty h-2/3 flex flex-col gap-2 items-center justify-center">
				<p class="text-h6 font-semibold">
					{frontmatter.name} polega na:
				</p>
				<p class="text-p">
					{frontmatter.description}
				</p>
				<p class="text-h6 font-semibold">
					Czas trwania: {frontmatter.time}
				</p>
				<p class="text-h6 font-semibold">
					Cena: {frontmatter.price}
				</p>
			</div>
			<div class="flex flex-row justify-center">
				<p class="text-h6"><a href="/">Powrót</a></p>
			</div>
		</div>
	</div>
</Layout>